/* Overall Page Elements */
body { padding-bottom: 80px; }
#pg {
  font: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
}

a { color: #2d2d2d; text-decoration: none; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; cursor: pointer; }


/* Header */
#pg > header {
  height: 65px;
  background: #BADA55 url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
  padding: 0;
  margin: 0 0 35px;
}

#pg > header > div {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  text-align: center;
  line-height: 65px;
}

#pg > header > div > * {
  text-align: left;
  vertical-align: top;
}

#pg > header > div > a {
  display: inline-block;
  padding-top: 25px;
  width: 305px;
  height:100px;
  border-radius: 2em;
  overflow: hidden;
  text-indent: -1000px;
  box-shadow: 0 0 20px #333;
  background: #fff url('./logo.png') 50% 100% no-repeat;
  position: relative;
  top: -30px;
  margin: 0 50px;

  -webkit-transition: box-shadow, top;
  -webkit-transition-duration: 100ms;
}

#pg > header > div > a:hover {
  box-shadow: 0 0 25px #333;
  top: -28px;
}

#pg > header nav {
  display: inline-block;
  list-style-type: none;
  color: #2D2D2D;
  text-transform: uppercase;
  line-height: 65px;
  vertical-align: middle;
  width: 1px;
  white-space: nowrap;
}

#pg > header nav ul {
  margin: 0;
  padding: 0;
}

#pg > header nav li {
  display: inline-block;
  padding-right: 5px;
}

#pg > header nav a:after {
  content: '/';
  display: inline-block;
  padding-left: 10px;
}

#pg > header nav li:last-child a:after {
  content: '';
}


/* Generic Main Body */

#pg > div {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
#pg > div h1 { line-height: 1.4em; }
#pg > div > article > header {
  margin: -65px 0 30px;
  width: 300px;
}

#pg > div > article > footer {
  font-size: 0.8em;
  text-align: right;
}

/* posts list */
ul.posts { padding-top: 20px; list-style: none; }
ul.posts li {
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-left: -60px;
  font-size: 1.2em;
  padding: 10px 60px;
  width: 100%;
  cursor: pointer;
}
ul.posts li:hover {
  box-shadow: 0 10px 10px -10px #999, 0 -10px 10px -10px #999;
}
ul.posts li > div {
  padding: 5px 10px;
  font-size: 0.8em;
  color: #333;
  font-style: italic;
}
ul.posts li a {
  text-decoration: none;
}


/* post page */
.rdbWrapper { text-align: right; height: 2em; }
.rdbWrapper #readabilityEmbedContainer { display: inline-block; width: 272px; }

article.post section.content > div {
  text-align: justify;
  line-height: 1.5em;
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
}

article.post section.content > footer .date {
  display: inline-block;
  background: #F28320 url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
  padding: 2px 10px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #2D2D2D;
  font-weight: bold;
  margin-right: 10px;
}
article.post section.content > footer .author {
  display: inline-block;
  float: right;
  padding: 2px 10px;
  background: #BADA55 url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
  font-style: italic;
  font-size: 0.8em;
  width: 150px;
  text-align: right;
}

article.post section.content > footer {
  line-height: 1.5em;
  vertical-align: middle;
  border: 1px solid #DDD;
  margin: 45px 0 25px;
}

article.post section.content > footer * {
  display: inline-block;
  padding: 0;
  margin: 0;
}

article.post section.content > footer ul {
  list-style: none;
}

article.post section.content > footer .social {
  float: right;
  padding: 4px 10px;
}

article.post section.content > footer .tags li {
  margin-right: 10px;
}

article.post section.content > footer .tags a span {
  padding: 1px 5px;
  border-radius: 2em;
  background: #F28320;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.3em;
}

article.post section.content > footer .twitter-tweet {
  width: 68px;
}

article.post > footer nav ul {
  padding: 0;
  margin: 0;
  overflow: auto;
}
article.post > footer nav ul li {
  max-width: 45%;
}
article.post > footer nav .prev {
  float: left;
  text-align: left;
}
article.post > footer nav .next {
  float: right;
  text-align: right;
}


/* Footer */
#pg > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png') repeat 0 0 #4D4D4D;
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
}

#pg > footer p {
  padding: 0 20px 0 0;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1em;
}
#pg > footer img { height: 1em; }
#pg > footer a { color: #fff; vertical-align: bottom; }


@media screen and (max-width: 980px){
  #pg > header > div, #pg > div {display: block; width: auto;}
}
@media screen and (max-width: 930px){
  #pg > header {
    background: #fff;
    text-align: center;
    height: auto;
    margin-bottom: 10px;
  }
  #pg > header > div > a {
    box-shadow: none;
    display: inline-block;
    position: static;
    margin: 0;
    padding: 0;
  }
  #pg > header > div > a:hover {
    box-shadow: none;
  }
  #pg > header nav {
    display: block;
    background: #BADA55 url('/assets/themes/the-minimum/skin/100-90-5-monochrome.png');
    width: auto;
    line-height: 2em;
    text-align: center;
  }
  #pg > div {
    padding: 0 10px;
  }
  #pg > div h1 {
    margin-top: 0;
  }
}
@media screen and (max-width: 450px){
  body { padding-bottom: 0; }
  #pg > footer {
    position: static;
  }
}
  article.post section.content > footer > .tags ,
  article.post section.content > footer > .author ,
  article.post section.content > footer > .date {
    display: block;
    width: auto;
    border-radius: none;
  }
  article.post section.content > footer > .tags {
    padding: 5px 10px;
  }
